html, body {
    min-height: 100%;
    height: 100%;
  }
  
  .fill {
    height: calc(100vh - 100px);
  }
  
  body {
    padding-top: 60px; /* space for the top nav bar */
    margin-right: 30px;
  }
  
  #appBuckets {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 150px);
  }
  
  #forgeViewer {
    width: 100%;
  }
  
  #dashboard{
    overflow: auto;
    height: calc(100vh - 100px);
  }
  
  .transition-width {
    transition: width 1s ease-in-out;
  }
  
  .dashboardPanel {
    width: 100%;
    padding: 3%;
    display: block;
  }
  
  .showProgressIcon {
    background-image: url(https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/white/png/24/tasks.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .saveProgressIcon {
    background-image: url(https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/white/png/24/save.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }